<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello World!
</body>
</html> -->

{% extends 'base.html' %}

{% block head %}

<h1>Template</h1>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Update Master</h1>
   <div class="form">
    <form action="/update/{{task.id}}" method="POST">
        <input type="text" name="content" id="content" value="{{task.content}}">
        <input type="submit" value="update">
    </form>
   </div>
</div>
{% endblock %}